@page
@model IndexModel
@{
}

<div class="text-center">

        <h2 class="display-4">Welcome To the GH-500 GitHub Advanced Security Demo App</h2>

        <img src="https://picsum.photos/600/400" alt="A picture from Picsum Photos" />

        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


