@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

        <h2 class="display-4">Welcome To the Holiday Season</h2>

adding some Holiday bright lights on the homepage! 

adding more lights to the page

Dec 5 update to the webpage

        <img src="https://picsum.photos/600/400" alt="Holiday Lights" />

        <p>Enjoy the main branch update decorations!</p>


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


