@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

        <h2 class="display-4">Welcome To the Holiday Season</h2>

added more text before lunch, in github itself



    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
